{:paths ["src"]
 :jvm-opts ["-Xmx2g" "-server"]
 :deps {io.replikativ/hitchhiker-tree {:mvn/version "0.1.4"]
        io.replikativ/superv.async {:mvn/version "0.2.9"}
        io.replikativ/konserve-leveldb {:mvn/version"0.1.2"}}}}
